body {
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}
.dropdown, .dropdowner{    
    width: 250px;
    height: 250px;
}
.toggler, .toggle{
    display: block;
    margin: 15px auto;
    cursor: pointer;
}
.menu_wrapper, .menu__wrapper{
    position: relative;
    z-index: 5;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.menu, ._menu{
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 3;
    list-style: none;
    padding: 0;
    margin-top: -160px;
    margin-left: -50px;
    width: 100px;

    border: 1px solid black;
    border-radius: 3px;


    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

._menu{
    display: block;
    margin-top: 0;
}

.active {    
    margin-top: 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
li{    
    width: 100%;
    line-height: 1.4;
    text-align: center;  
    cursor: pointer; 
}
li:hover{
    background-color: grey;
}

#reload_button{
    margin-top: -200px;
}