body {
    padding: 0;
    margin: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

ul {
    padding: 10px;
    margin: 0;
    list-style: none;
}

li {
    font-size: 18px;
}