body {
    padding: 0;
    margin: 0;
    background-color: bisque;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    font-size: 18px;
}